{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_title %}{{ _("authorization") }}{% endblock %}

{% block main_content %}
    <h1>{{ _("authorization") }}</h1>
    {{ wtf.form_errors(form) }}
    {{ wtf.quick_form(form) }}
    <a href="url_for('request_reset_password')">{{ _('Forgot password?') }}</a>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for("static", filename='scripts/show_password_in_login_form.js') }}"></script>
{% endblock %}
